/* Global Settings */

* {
  font  : 16px/1.5 Helvetica, Monospace, sans-serif;
  color : #fff;
}

body {
  background      : #000;
  height          : 900px;
  display         : flex;
  justify-content : center;
  align-items     : center;
}

a, a:visited, a:active {
  text-decoration : none;
  color           : #ff4aab;
}

a:hover {
  text-decoration: underline;
}

#container {
  width: 40%;
}

/* Search Bar */

#search_bar {
  background: #242424;
}

#search_bar form {
  display     : flex;
  align-items : center;
}

#search_bar .blue {
  color   : #03a9f4;
  padding : 0px 0px 0px 5px;
}

#search_bar .green {
  color   : #50ff4a;
  padding : 0px 0px 0px 5px;
}

#search_bar input {
  background  : none;
  border      : none;
  padding     : 0px 0px 0px 5px;
  flex-grow   : 1;
}

/* Links */

#main_nav {
  display       : grid;
  grid          : auto-flow / auto auto auto auto;
  justify-items : center;
  gap           : 0px 10px;
}

#main_nav ul {
  list-style-type : none;
  padding         : 0 20px;
  margin          : 10px 0px 0px 0px;
}

#main_nav h1 {
  padding : 0;
  margin  : 0;
}

#news, #prod, #warez, #servers {
  background: #242424;
}

.blue {
  color: #03a9f4;
}

.green {
  color: #50ff4a;
}

