/* Global Settings */

* {
    font-family: Helvetica, Monospace, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
}

body {
    background: #000000;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #FF4AAB;
}

a:hover {
    text-decoration: underline;
}

#container {
    width: 40%;
}

/* Search Bar */

#search_bar {
    background: #242424;
}

#search_bar form {
    display: flex;
    align-items: center;
}

#search_bar .blue {
    color: #03A9F4;
    padding: 0px 0px 0px 5px;
}

#search_bar .green {
    color: #50FF4A;
    padding: 0px 0px 0px 5px;
}

#search_bar input {
    background: none;
    border: none;
    padding: 0px 0px 0px 5px;
    flex-grow: 1;
}

/* Links */

#main_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#news, #prod, #warez, #servers {
    background: #242424;
}

#main_nav ul {
    list-style-type: none;
    padding: 0 20px;
    margin: 10px 0px 0px 0px;
}

#main_nav h1 {
    padding: 0;
    margin: 0;
}

.blue {
    color: #03A9F4;
}

.green {
    color: #50FF4A;
}

